.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 04px 10px  rgb(168, 164, 164);
    
}
.navbar  .divbar  {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

}.navbar-menu li {
    display: inline-block ;
}
.navbar-menu li a {
    display: inline-block ;
    color: black;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
}
.navbar-menu li a :hover {
    opacity: 1;

}
.divbar {
    display: flex;
    flex-flow: row nowrap;

}
.callback {
    margin-left: 30px;
    padding: 10px;
}
.navbar-class {
    font-weight: 900;
    font-size: 40px;
    text-decoration: none;
    color: #131313; 
}
.navbar-class :hover {
    color: aqua;
    
}


.text1 {
    color: rgb(131, 46, 46);
text-indent: 700px; }
.text2 {
    color: rgb(153, 231, 28);
text-indent: 500px; }
.text3 {
    color: rgb(65, 8, 8);
text-indent: 700px; }
.insta {
    border: solid;
    background: #c50c0c;
    margin: 800px;
   padding: 20px;
    border-radius: 20px;
    font-size: 200%;
}
.ima {
   background-color: rgb(83, 153, 83);
}